<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="h3 text-center"> How are you feeling today ? </div>
            <button type="button" class="btn btn-outline-dark " routerLink="/add-record" style="position: absolute; right:1.25rem;">Add new record ! </button>

            <table class="table table-striped table-responsive mt-5">
                <thead>
                  <tr>
                    
                    <th >🗓️Date</th>
                    <th >⏰Hour</th>
                    <th >📊Emotional Scale</th>
                    <th >🔑Keywords</th>
                    <th >🗯️ What happened?</th>
                    <th >actions</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let record of moodListArray">   
                   
                    <td>{{record.date | date}}</td>
                    <td>{{record.time}}</td>
                    <td>{{record.scale}}</td>
                    <td>{{record.keywords}}</td>
                    <td>{{record.event}}</td>
                    <td> 
                        <h4><i class="uil uil-edit  text-info" style= "margin-right: 0.8rem;"></i><i class="uil uil-trash-alt text-danger"></i></h4></td>
                  </tr>

                  <!-- <tr>   
                    <th scope="row">1</th>
                    <td>17/10</td>
                    <td>20:45</td>
                    <td>7</td>
                    <td>excited, motivated</td>
                    <td>Today i discovered i like dancing tiktoks</td>
                    <td> 
                        <h4><i class="uil uil-edit  text-info" style= "margin-right: 0.8rem;"></i><i class="uil uil-trash-alt text-danger"></i></h4></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>18/10</td>
                    <td>6:25</td>
                    <td>5.5</td>
                    <td>excited, motivated</td>
                    <td>it's a new beginning of an adventure!</td>
                    <td> 
                        <h4><i class="uil uil-edit  text-info" style= "margin-right: 0.8rem;"></i><i class="uil uil-trash-alt text-danger"></i></h4></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>18/10</td>
                    <td>13:30</td>
                    <td>8</td>
                    <td>crappy morning</td>
                    <td>i felt overwhelmed and got dehydrated :c</td>
                    <td> 
                        <h4><i class="uil uil-edit  text-info" style= "margin-right: 0.8rem;"></i><i class="uil uil-trash-alt text-danger"></i></h4></td>
                  </tr> -->
                </tbody>
              </table>
                 
              <!-- example angularfire -->
              <ul>
                <!-- <li class="text" *ngFor="let item of items | async">
                  {{item.name}}
                  {{item.keyword}}
                </li> -->
              </ul>
        </div>
    </div>
</div>