<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
           
            <div class="card text-center">
                <div class="card-body">
                     <h3>Add new record 📌</h3>
                     <form class="mt-4">
                         <div class="row">
                             <div class="col">
                                 <input type="date" class="form-control" placeholder="Date">
                                 <input type="date" class="form-control" placeholder="Date">
                             </div>
                         </div>
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>
