<div class="container pt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
           
            <div class="card text-center   ">
                <div class="card-body ">
                     <h3 class="mt-4  mb-4">{{ title }} </h3> 
                     
                     <form class="mt-4 mb-4" [formGroup]= "createNewRecord" (ngSubmit)="addNewRecord()">     
                         <div class="row">
                             <div class="col">
                                 <input type="date" class="form-control" formControlName="date" placeholder="Date">                              
                             </div>
                             <div class="col">
                                <input type="time" class="form-control" formControlName="time" placeholder="Hour">                              
                            </div>
                         </div>
                         <div class="row">
                            <div class="col mt-3">
                                <input type="number" class="form-control" formControlName="scale" placeholder="From 0 to 10, how are you feeling at the moment?">                              
                            </div>
                           
                        </div>

                        <div class="row">
                            <div class="col mt-3">
                                <input type="text" class="form-control" formControlName="keywords"  placeholder="Add some keywords/phrase">                              
                            </div>                     
                        </div>
                        <div class="row">
                            <div class="col mt-3">
                                <input type="text" class="form-control" formControlName="event" placeholder="Please give more details on what's going on here">                              
                            </div>                     
                        </div>
                        <span *ngIf="submitted && createNewRecord.invalid " class="badge mt-3 alert-warning">⚠️ There are empty fields. Please complete them before submitting   </span>
                     
                        <div class="mt-3">
                             <button type="text" class="btn btn-secondary btn-lg me-2" routerLink="/overview"> Back </button>
                             <button type="submit" class="btn btn-outline-dark  btn-lg " > Submit </button>
                        </div>
                       
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>
